body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Moraine_Lake_17092005.jpg/800px-Moraine_Lake_17092005.jpg');
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    background-size: cover;
    flex-direction: column;
    overflow: hidden;

}

h3 {
    color: white;
    letter-spacing: 4px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

.clock-container {
    display: flex;
}

.clock-container div {
    position: relative;
    margin: 5px;
}

.clock-container span {
    width: 100px;
    height: 80px;
    background-color:slateblue;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    font-size: 50px;
}

.clock-container .text {
    font-size: 10px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(53, 13, 162);
}

.clock-container .ampm {
    font-size: 20px;
    height: 30px;
    width: 60px;
    bottom: 0;
    position: absolute;
    background: green;
}